.container {
    background-color: #0098f1;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:40px 20px; 
}
.ti {
    text-decoration: none;
    font-size: large;
    color: black;

}
.menu {
    color: rgb(236, 236, 236);
    list-style: none;
    display: flex;
    position: absolute;
    left: 500px;
    flex-wrap: wrap;
    text-decoration: none;

}

.list {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
    padding: 25px;
    flex-direction: row;
    transition: all 0.25s;
    cursor: pointer;
    text-decoration: none;

}

.list:hover {
    background-color: #ffffff;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    text-decoration: none;

    
    
}