.cards {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: azure;
}

.title_content {
  text-align: center;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  margin: 20px;
  color: brown;
  background-color: rgb(246, 246, 246);
  position: relative;
  left: 0px;
  transition: all 0.5s;
}
.descri {
  margin: 15px;
  position: relative;
  bottom: 5px;
  left: 15px;
  font: status-bar;
  display: flex;
  padding-top: 0px;
  color: rgb(0, 9, 189);
  overflow: hidden;
  transition: all 0.5s;
  text-overflow: ellipsis;
}
.barra {
  margin: 20px;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  bottom: 10px;
  padding-top: 0px;
  color: brown;
  overflow: hidden;
  transition: all 0.5s;
  text-overflow: ellipsis;
}
.autor {
  text-align: center;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  margin: 20px;
  color: rgb(0, 0, 0);
  position: relative;
  left: 0px;
  transition: all 0.5s;
}
.autor0 {
  text-align: center;
  padding: 10px;
  font: status-bar;
  border-radius: 20px;
  margin: 20px;
  color: rgb(0, 9, 189);
  position: relative;
  left: 0px;
  transition: all 0.5s;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;

  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
